*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}

.col{
    flex: 1;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black;
    background: darkred; */
}

.col h2{
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.col h2:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button{
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.col button:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}